<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linking the style.css in the html file -->


    <link rel="stylesheet" href="/static/style.css" class="rel">

    <!-- google fonts link -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Scientific Calculator</title>

</head>

<body>

    <div class="calculator">
        <div class="calc-container">

            <!-- this the output window ↓ -->
            <div class="output">
                <div class="operation">
                    <div class="value"></div>
                </div>
                <div class="result">
                    <div class="value">0</div>
                </div>
            </div>

            <!-- output div ends here -->
            <div class="input">

            </div>
        </div>
    </div>

    <script src="/static/index.js"></script>
</body>


</html>